<template>
    <div>

        <div class="card mx-auto w-50" style="height: 400px" ref="gamewindow">
            <div class="card-body game-screen" ref="screen">
                <word-item 
                    v-for="(item, index) in items"
                    :key="item.id"
                    :screen_width="screen_width"
                    :screen_height="screen_height"
                    :input_string="typed_text"
                    :word="item.word"
                    :full_visible="item.full_visible"
                    :word_list_index="index"
                    @lost="lostWord"
                    @gained="gainedWord"
                    @becomefullvisible="setReadyToSpan"
                ></word-item>
            </div>
            <keyboard-input @valuechanged="textInputed" ref="keyboardInputRef"></keyboard-input>
        </div>

        <div class = "card mx-auto w-50">
            <score-screen :score="score"></score-screen>
        </div>
        <div v-if='debug_mode'>
            <button @click="Start()">Start</button>
            <strong>Debug mode enabled</strong><br />
                <br> screnwidth: {{ screen_width }}
                <br> screnHeight: {{ screen_height }}
        </div>
    </div>
</template>



<script>

import KeyboardInput from './KeyboardInput.vue'
import WordItem from './WordItem.vue'
import ScoreScreen from './ScoreScreen.vue'


const words = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum".split(' ')

export default {
    name: 'game-screen',
    components: {
        KeyboardInput,
        WordItem,
        ScoreScreen,
    },
    data() {
        return {
            screen_width: 0,
            screen_height: 0,
            items: [],
            typed_text: '',
            score: 0,
            words,
            spawn_duration: 2000,
            ready_to_span: true,
            last_time: 0,
            dt: 10,
            debug_mode: true,
        }
    },
    methods: {
        Start() {
            this.last_time = new Date().getTime()
            this.generateNextWord()

            this.$main_timer = setInterval(() => {
                this.tryToGenerateNextWord()
            }, this.dt)
        },
        textInputed(typed_text) {
            this.typed_text = typed_text
        },
        gainedWord(word_list_index) {
            this.score += 1
            this.$refs.keyboardInputRef.clearInputString()
            this.items.splice(word_list_index, 1)
            this.tryToGenerateNextWord()
        },
        lostWord(word_list_index) {
            this.items.splice(word_list_index, 1)
            this.tryToGenerateNextWord()
            this.score -= 1
        },
        tryToGenerateNextWord() {
            let now_time = new Date().getTime()
            if ((((now_time - this.last_time) > this.spawn_duration) 
                || this.items.length === 0)
                && this.ready_to_span) {
                this.generateNextWord()
                this.last_time = now_time
            }
        },
        generateNextWord() {
            let nb_all_words = this.words.length
            let selected_word = this.words[Math.ceil(Math.random() * nb_all_words) - 1]

            let prevent_infinity_loop_count = 0
            while (this.items.find((item) => item.word === selected_word) !== undefined) {
                selected_word = this.words[Math.ceil(Math.random() * nb_all_words) - 1]
                if (prevent_infinity_loop_count > nb_all_words) {
                    break
                }
                prevent_infinity_loop_count++
            }
            
            this.ready_to_span = false

            this.items.push(
                {
                    id: Math.ceil(Math.random() * 100000000000),
                    word: selected_word,
                }
            )
        },
        setReadyToSpan() {
            this.ready_to_span = true
        },
    },
    mounted() {
        this.screen_height = this.$refs.screen.clientHeight
        this.screen_width = this.$refs.screen.clientWidth
    },

}
</script>


<style>
.game-screen {
    position: relative;
    overflow: hidden !important;
}
</style>
