<template>
    <div>
    <form v-on:submit.prevent>
        <div class="form-group mb-0">
            <input 
                type="text"
                class="form-control game-type-input"
                placeholder="Test"
                v-model="input_string"
                >
        </div>
    </form>
    </div>
</template>


<script>
export default {
    name: 'keyboard-input',
    data() {
        return {
            input_string: '',
        }
    },
    watch: {
        input_string(input_string) {
            console.log(this.input_string)
            this.$emit('valuechanged', input_string)
        },
    },
    methods: {
        clearInputString() {
            this.input_string = ''
        },
    },
}
</script>

<style>
.game-type-input:focus {
    box-shadow: none;
    border-color: #ced4da;
}
</style>
