<template>
    <div 
        class="word-item"
        ref="word"
        v-bind:style="{ left: x + 'px', top: y_posistion_with_offsets + 'px' }" 
        v-if="element_still_alive">
        
        <span class="typed">{{ word_typed }}</span><span class="not_typed">{{ word_not_typed }}</span>

        <div v-if="debug_mode">
            x: {{ x }} <br />
            y: {{ y }} <br />
            element_still_alive: {{ element_still_alive }}
        </div>

    </div>
</template>

<script>
export default {
    name: 'word-item',
    props: {
        screen_width: Number,
        screen_height: Number,
        input_string: String,
        word: String,
        word_list_index: Number,
    },
    data() {
        return {
            y: 0,
            width: 0,
            height: 0,
            element_still_alive: true,
            full_visible: false,
            debug_mode: false,
        }
    },
    computed: {
        x() {
            return Math.floor(Math.random() * Math.floor(this.screen_width - this.width))
        },
        y_posistion_with_offsets() {
            return this.y - this.height
        },
        word_typed() {
            if (this.word.indexOf(this.input_string) === 0) {
                return this.input_string
            }
            return null
        },
        word_not_typed() {
            if (this.word.indexOf(this.input_string) === 0) {
                return this.word.replace(this.input_string, '')
            }
            return this.word
        },
    },
    watch: {
        input_string() {
            if (this.input_string == this.word) {
                this.gainedWord()
            }
        },
    },
    methods: {
        updateMotion() {
            if (this.y > (this.screen_height + this.height)) {
                this.lostWord()
                return
            }
            if (this.y_posistion_with_offsets > 1 && this.full_visible === false) {
                this.$emit('becomefullvisible', this.word_list_index)
                this.full_visible = true
            }
            this.y += this.dt * this.motion_speed
        },
        destroyWordElement(){
            clearInterval(this.$main_timer)
            this.element_still_alive = false
        },
        lostWord() {
            this.$emit('lost', this.word_list_index)
            this.destroyWordElement()
        },
        gainedWord() {
            this.destroyWordElement()
            this.$emit('gained', this.word_list_index)
        },
    },
    mounted() {
        this.dt = 1
        this.motion_speed = 0.2
        this.width = this.$refs.word.clientWidth
        this.height = this.$refs.word.clientHeight
        this.$main_timer = setInterval(
            () => {
                this.updateMotion()
            },
            this.dt
        )
    },
}
</script>

<style>
.word-item {
    border: 1px solid #ced4da;
    border-radius: 3px;
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: -10px;
    left: 0px;
}

.typed {
    background-color: #cdcdcd; 
}
</style>