<template>
  <div id="app">
    <div class="container pt-5">
      <game-screen></game-screen>
    </div>
  </div>
</template>

<script>

import GameScreen from './components/GameScreen.vue'

export default {
    components: {
        GameScreen,
    },
    name: 'app',
    data() {
        return {
            msg: 'Welcome to Your Vue.js App',
        }
    },
}
</script>

